
[access]
	inheritFrom = Kernel-Projects
[project]
	description = Owner: android-kernel-team@google.com
[access "^refs/heads/common-android[0-9]+-[0-9]+.[0-9]+-.*"]
	label-Code-Review = -2..+2 group kernel-release
[access "^refs/heads/common-android[0-9]+-[0-9]+.[0-9]+-arcvm"]
	label-Code-Review = -2..+2 group ARCVM Approvers
[access "^refs/heads/common-android-.*-202.-..$"]
	create = group kernel-release
[access "refs/heads/arcvm12-5.10-gki-base"]
	label-Code-Review = -2..+2 group ARCVM Approvers
